* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --amarelo: #ffc105;
  --preto: #0d0d0d;
  --preto-2: #1a1a1a;
  --preto-3: #ffffff0d;
  --branco: #ffffff;
  --branco-2: #ffffffcc;
  --branco-3: #ffffffe3;
  --cinza-foreground: #666666;
  --laranja: #ffc1051a;
  --laranja-2: #ffc10533;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--preto);
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
  padding-top: 30px;
}
.hero .container h1 {
  font-size: 70px;
  color: var(--branco);
  line-height: 1;
}
.hero h1 strong {
  color: var(--amarelo);
}
.hero p {
  color: var(--branco-2);
  font-size: 22px;
}
.cta-hero {
  display: flex;
  gap: 2rem;
  padding-bottom: 50px;
}

@keyframes svgGlow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 193, 5, 0.3));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 193, 5, 0.8))
      drop-shadow(0 0 30px rgba(255, 193, 5, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 193, 5, 0.3));
  }
}

.logo-glow {
  animation: svgGlow 3s infinite ease-in-out;
}

a.cta-button {
  background-color: var(--amarelo);
  padding: 17px;
  max-width: fit-content;
  border-radius: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--preto);
  transition: 0.5s;
}
a.cta-button:hover {
  transform: scale(1.06);
}
a.cta-whatsapp {
  background-color: transparent;
  padding: 17px;
  max-width: fit-content;
  border-radius: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--amarelo);
  border: 1px solid var(--amarelo);
  transition: 0.5s;
}
a.cta-whatsapp:hover {
  transform: scale(1.06);
}
.solutions {
  background-color: var(--branco);
  padding-bottom: 50px;
}
.solutions-title {
  text-align: center;
  padding: 50px 0;
}
.solutions-title h2 {
  font-size: 60px;
  color: var(--preto-2);
}
.solutions-title p {
  color: var(--cinza-foreground);
  font-size: 22px;
}
.solutions-title h2 strong {
  color: var(--amarelo);
}
.solutions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.solution-card {
  padding: 24px;
  border: 1px solid var(--cinza-foreground);
  border-radius: 15px;
  box-shadow: 3px 1px 7px var(--cinza-foreground);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: 0.5s;
}
.solution-card:hover {
  transform: scale(1.03);
}
.solution-img {
  background-color: var(--laranja);
  max-width: fit-content;
  padding: 12px;
  border-radius: 7px;
}
.solution-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.solution-text h3 {
  font-size: 25px;
  line-height: 1;
  color: var(--preto-2);
}
.solution-text p {
  color: var(--cinza-foreground);
  line-height: 1.1;
}

.resultados {
  padding: 50px 0;
}
.resultados-title {
  text-align: center;
  padding: 50px 0;
}
.resultados-title h2 {
  font-size: 60px;
  color: var(--branco);
}
.resultados-title p {
  color: var(--branco-2);
  font-size: 22px;
}
.resultados-title h2 strong {
  color: var(--amarelo);
}
.resultados-grid {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
}
.resultado-card {
  background-color: var(--preto-3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 24px;
  border-radius: 15px;
  width: 300px;
  transition: 0.5s;
}
.resultado-card:hover {
  border: 1px solid var(--amarelo);
}
.resultado-card .resultado-img {
  border-radius: 50%;
  background-color: var(--laranja-2);
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultado-card .resultado-text span {
  font-size: 48px;
  font-weight: 700;
  color: var(--amarelo);
}
.resultado-text p {
  color: var(--branco-3);
  font-size: 14px;
}

.cta-final {
  background-color: var(--branco);
}
.cta-title {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cta-title h2 {
  font-size: 48px;
  color: var(--preto-2);
}
.cta-title h2 strong {
  color: var(--amarelo);
}
.cta-title p {
  font-size: 22px;
  color: var(--cinza-foreground);
}
.cta-final .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 50px;
}
.form-whatsapp {
  max-width: 500px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;

  /* Fundo amarelo transparente */
  background: rgba(255, 193, 5, 0.12); /* amarelo suave */
  padding: 25px;
  border-radius: 12px;

  /* efeito elegante */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  animation: techGlow 3.5s infinite;
}

.form-whatsapp h2 {
  font-size: 25px;
  color: var(--preto-2);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-whatsapp input,
.form-whatsapp textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;

  background: rgba(255, 255, 255, 0.85);
  border: 2px solid var(--amarelo);
  border-radius: 8px;
  resize: vertical;
  font-size: 16px;
  outline: none;
}

.form-whatsapp input:focus,
.form-whatsapp textarea:focus {
  border-color: #e6ac00;
  box-shadow: 0 0 0 2px rgba(255, 193, 5, 0.3);
}

.form-whatsapp button {
  background-color: var(--amarelo);
  color: #1a1a1a;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-whatsapp button:hover {
  background-color: #e6ac00;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 193, 5, 0.4);
}
footer {
  background-color: var(--branco);
}
footer .container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--cinza-foreground);
  padding: 50px;
  border-top: 1px solid var(--cinza-foreground);
}
.btn-whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: 0.4s;
  animation: zoomImage 2s infinite;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 220px;
  top: 25px;
  left: -228px;
  padding: 2px;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
  background-color: var(--amarelo);
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 0 rgba(255, 193, 5, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 193, 5, 0.6), 0 0 40px rgba(255, 193, 5, 0.4);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 193, 5, 0.3);
  }
}
@keyframes techGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 193, 5, 0.2);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 193, 5, 0.6), 0 0 60px rgba(255, 193, 5, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 193, 5, 0.2);
  }
}

@media screen and (max-width: 1020px) {
  body {
    width: 100%;
  }
  .container {
    flex-direction: column;
    padding: 10px;
  }
  .hero img {
    max-width: 300px;
  }
  .hero .container h1 {
    font-size: 2rem;
  }
  .hero .container p {
    font-size: 1rem;
    line-height: 1;
  }
  .solutions-title {
    gap: 1rem;
    flex-direction: column;
    display: flex;
  }
  .solutions-title h2 {
    font-size: 1.8rem;
    line-height: 1;
  }
  .solutions-title p {
    font-size: 1rem;
    line-height: 1;
  }
  .solutions-grid {
    flex-wrap: wrap;
    display: flex;
  }
  .resultados-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .resultados-title h2 {
    font-size: 1.8rem;
    line-height: 1;
  }
  .resultados-title p {
    font-size: 1rem;
  }
  .resultados-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .cta-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .cta-title h2 {
    font-size: 1.8rem;
    line-height: 1;
  }
  .cta-title p {
    line-height: 1;
    font-size: 1rem;
  }
}
